{% extends "notify.html" %}

{% block content %} 

<table>
    
</table>

<script>
    var myForm = document.querySelector('form');
        myForm.onsubmit = function(formx){
            var username = $("#casta");
            formx.preventDefault();
            function check(resultx){
                if (resultx == false){
                    alert("Username has been used");
                }
                else{
                    myForm.submit();
                }
            }

            if (username.val()) {
                $.get("/checkNotif", { username: username.val() }, check);
            }
            else{
                alert("Most provide username");
            }
        };
</script>
{% endblock %}
    